<div class="container">
<h4 class="pregunta"> Datos del tomador</h4>

<mat-form-field class="example-full-width">
    <input matInput placeholder="nombre y apellidos">
  </mat-form-field>


<mat-form-field class="example-full-width">
    <input matInput placeholder="dirección completa">
  </mat-form-field>


<mat-form-field class="example-full-width">
    <input matInput placeholder="BANK 0000 000 000">
  </mat-form-field>

<mat-checkbox >Autorización de domiciliación bancaria</mat-checkbox>


<div class="seguimiento">
    <button mat-button class="butredondo"(click)="navigateToAtras()">Atrás</button>
    <button mat-button class="butsig"(click)="navigateToSiguiente()">Siguiente</button>
    </div>
</div>
