<div class="container">

    <h4 class="pregunta">Coberturas que puedes escoger</h4>


        <button class="checob" mat-button>Robo</button>

        <button class="checob" mat-button>Daños por agua</button>
      
        <button class="checob" mat-button>Riesgo de accidentes</button>
        
        <button class="checob" mat-button>Asistencia</button>
      
        <button class="checob" mat-button>Hurto</button>
      
        <button class="checob" mat-button>Incendio</button>
        

        <div class="seguimiento">
            <button mat-button class="butredondo"(click)="navigateToAtras()">Atrás</button>
            <button mat-button class="butsig"(click)="navigateToSiguiente()">Siguiente</button>
        </div>
</div>

