<div class="container">
<h3 >Presupuesto</h3>
<h2>{{estado.presupuesto}}</h2>
<p>A continuación te ofrecemos</p>
<p>las siguientes modalidades del Seguro de Hogar</p>
<div>

</div>

<div class="seguimiento">
  <button mat-button class="butredondo"(click)="navigateToAtras()">Atrás</button>
<button mat-button class="butguardar" >Guardar</button><!--TODO un pop up que te envia tu presupuesto al email-->
<button mat-button class="butsig"(click)="navigateToSiguiente()">Contratar</button>
</div>
</div>
