
.uso button{
    position: relative;
    width:80%;
    margin:2px;
    border: 1px solid #D7D7D7;
}


.uso{
    display: block;
    align-content: center;
}


.butredondo{
  background-color: white;
  color: #c52a1d;
  border: 1px solid #c52a1d;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}
.butsig{
  background-color: #c52a1d;
  color: white;
  text-align: center;
  display: inline-block;


}
